$black: #000;
$header-font-stack: 'Roboto', sans-serif;
$navbarHeight: 50px;
$itemwidth: 10px;
$itemheight: 10px;

$orange: #F58220;
$yellow: #f3c706;
$gray: #444;

// Font Variables

$font-header: 'Merriweather', serif;
$font-body: 'Montserrat', sans-serif;
