doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Merriweather:500,700", rel="stylesheet")

    link(rel='stylesheet', href='/stylesheets/main.css')
      
    
  if login
    body
      block content
  else
    body.body-black
      block content
