// Import Base Files
@import "./base/index.scss";
// Import Components
@import "./components/index.scss";
// Import Helpers
@import "./helpers/index.scss";
// Import Pages
@import "./pages/index.scss";

.body-black {
  font-family: $header-font-stack;
  height: 200px;
  width: 100%;
  background: $black;
  position: relative;
  color: #fff
}

.profile-photo {
  background: $black;
  font-family: $header-font-stack;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.head__picture{
width: 100%;
height: auto;
}

.img-small {
  height: 200px;
  width: auto;
}

.img-medium {
  height: 500px;
  width: auto;
}

.img-large {
  height: 800px;
  width: auto;
}

.wrapper {
background: #fff;
width: 100%;
}

.item1 {
position:relative;
width: $itemwidth;
height: $itemheight;
}



.header {
  height: 200px;
  background: $black;
  width: 100%;
  padding: 25px;
  margin-right: 50px;
  @include flexbox;
  @include flex-direction(row);
  @include align-items(center);

  @include e('title') {
    @include flexbox;
    float: left;
    left: 25px;
    bottom: 25px;
    font-size: 1.8em;
    line-height: 1.4em;
    color: white;
    font-weight: bolder;
  }

  @include e('image') {
    float: left;
    height: 75px;
  }
}

.navbar {
  display: inline-block;
  width: 100%;
  height: $navbarHeight;
  background: $black;

  @include e('container') {
    width: 80%;
    height: 95%;
    background: lighten($black, 10%);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @include e('link') {
    flex-basis: 100px;
    flex-grow: 1;
    line-height: $navbarHeight;
    background: white;
    width: 100%;
    color: black;
    text-align: center;
    border-right: 1px solid black;
    text-decoration: none;
    &:last-child {
      border-right: none;
    }
  }
}

.product {

  @include e('list') {
    background: #fff;
    width: 100%;
    @include flexbox;
    @include flex-direction(row);
    @include flex-wrap(wrap);
  }

  @include e('item') {
    flex-basis: 300px;
    flex-grow: 1;
    margin: 0px 10px 10px;
    background: white;
  }

  @include e('image') {
    height: 150px;
    background: white;
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(center);
    margin: 0 auto;
  }

  @include e('caption') {
    padding: 10px;
    color: black;
    background-color: #f3c706;
  }

  @include e('title') {
    font-size: 1.4em;
  }

  @include e('price') {
    font-size: 0.9em;
    font-style: italic;
  }
}
